<FlexboxLayout flexDirection="row" width="100%" class="list-group-item">
    <Label textWrap="false" class="text-left" [text]="description" flexGrow="1"></Label>
    <Label textWrap="false" [ngClass]="{'debit': isExpense }" class="text-right" [text]="value" flexGrow="2"></Label>
</FlexboxLayout>
