<FlexboxLayout flexDirection="row" width="100%" class="list-group-item">
    <Label 
        textWrap="false" 
        class="text-left" 
        [text]="cellInfo.description" 
        flexGrow="1">
    </Label>

    <TextField 
        class="input text-right" 
        [keyboardType]="kbdType"
        returnKeyType="next"
        [ngClass]="{'debit': isExpense }"
        [text]="cellInfo.value" 
        (textChange)="onTextChange($event)"
        (returnPress)="onReturnPress($event)"
        (loaded)="onTextFieldLoaded($event)"
        (focus)="onTextFieldFocus($event)"
        (blur)="onTextFieldBlur($event)"
        flexGrow="2">
    </TextField>

</FlexboxLayout>
