<ActionBar>
    <!-- Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application. -->
    <ActionItem (tap)="onDrawerButtonTap()" icon="res://navigation/menu" android:visibility="collapsed" ios.position="left"></ActionItem>
    <ActionItem (tap)="onShare()" ios.systemIcon="9" ios.position="right" android.systemIcon="ic_menu_share" android.position="actionBar"></ActionItem>
    <Label class="action-bar-title" text="Reports"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <ListView [items]="uiListCells" [itemTemplateSelector]="listCellTemplateSelector" 
            (itemTap)="onItemTap($event)" 
            (itemLoading)="onItemLoading($event)"
            class="list-group">
        <ng-template nsTemplateKey="displayTemplate" let-item="item">
            <FlexboxLayout flexDirection="row" class="list-group-item">
                <app-display-cell 
                    [description]="item.description" 
                    [value]="item.value"
                    [cellType]="item.cellType">
                </app-display-cell>
            </FlexboxLayout>
        </ng-template>
        <ng-template nsTemplateKey="datePickerTemplate" let-item="item">
            <FlexboxLayout flexDirection="row" class="list-group-item">
                <app-date-picker-cell 
                    [date]="item.date">
                </app-date-picker-cell>
            </FlexboxLayout>
        </ng-template>
    </ListView> 
</GridLayout>
