<ActionBar>
    <Label class="action-bar-title" text="Report Types"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <ListView   [items]="uiListCells" 
                (itemTap)="onItemTap($event)" 
                class="list-group">
        <ng-template let-item="item">
            <FlexboxLayout  flexDirection="row" 
                            class="list-group-item"
                            [ngClass]="{'list-view-cell-hilight': item===reportName }">
                <Label  textWrap="false" 
                        class="text-right"
                        [ngClass]="{'list-view-label-hilight': item===reportName }"
                        [text]="item">
                </Label>
            </FlexboxLayout>
        </ng-template>
    </ListView>
</GridLayout>
