// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

// Font icon class
.fa {
    font-family: "FontAwesome";
}
// Common page class
.page-content {
    .page-placeholder {
        color: $page-icon-color;
        font-size: $page-content-placeholder-font-size;
        vertical-align: center;
        // horizontal-align: center;
    }

    .page-icon {
        font-size: 72;
        vertical-align: top;
        // horizontal-align: center;
        color: $page-icon-color;
        margin-top: 20%;
    }
}

// Action bar
// ActionBar .action-bar-title {
//     horizontal-align: center;
// }
ActionBar {
    background-color: #0079CA;
    color: white;
}

// List view
ListView {
    background-color: #EEF3F9;
}
.list-view-cell-hilight {
    background-color: $blue-dark;
}
.list-view-label-hilight {
    color: white;
}

// miscellaneous styling
.debit {
    color: #FF0000;
}

.section-header {
    font-size: 18;
    font-weight: bold;
}

.major-category {
    font-size: 18;
}

.sub-category {
    font-size: 14;
}

// Drawer navigation custom styles
$sidedrawer-list-item-offset-left: 15;

.sidedrawer {
    &.sidedrawer-left {
        background-color: #0079CA;
    }

    .sidedrawer-content {
        background-color: #0079CA;

        .sidedrawer-list-item {
            padding-left: $sidedrawer-list-item-offset-left;
            Label {
                vertical-align: center;
                color: white;
            }
            &.selected {
                background-color: $blue-dark;
                Label {
                    color: white;
                }
            }
        }
    }
}
