<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/NativeScript/SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
        <!-- filler at top -->
        <StackLayout row="0" height="44" style="background-color: #0079CA;">
        </StackLayout>
    
        <!-- menu list -->
        <ScrollView row="1">
            <StackLayout class="sidedrawer-content">
                <GridLayout 
                    columns="auto, *" 
                    class="sidedrawer-list-item"
                    [ngClass]="{'selected': isComponentSelected('/accounts') }"
                    (tap)="onNavItemTap('/accounts')">
                    <Label col="1" text="Accounts" class="p-r-10"></Label>
                </GridLayout>

                

                <GridLayout 
                    columns="auto, *" 
                    class="sidedrawer-list-item" 
                    [ngClass]="{'selected': isComponentSelected('/transactions') }"
                    (tap)="onNavItemTap('/transactions')">
                    <Label col="1" text="Transactions" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout 
                    columns="auto, *" 
                    class="sidedrawer-list-item" 
                    [ngClass]="{'selected': isComponentSelected('/reports') }"
                    (tap)="onNavItemTap('/reports')">
                    <Label col="1" text="Reports" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout 
                    columns="auto, *" 
                    class="sidedrawer-list-item" 
                    [ngClass]="{'selected': isComponentSelected('/synchronisation') }" 
                    (tap)="onNavItemTap('/synchronisation')">
                    <Label col="1" text="Synchronise" class="p-r-10"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>
