<ActionBar [title]="uiScreenTitle">
<!-- not required
        <NavigationButton 
            [nsRouterLink]="['../../transactions']" 
            android.systemIcon="ic_menu_back">
        </NavigationButton>
-->
        <!-- right: Edit -->
        <ActionItem *ngIf="uiEditMode==1"
            (tap)="onEditPressed()" 
            ios.systemIcon="2" 
            ios.position="right" 
            android.systemIcon="ic_menu_edit" 
            android.position="actionBar">
        </ActionItem>

        <!-- left: Cancel -->
        <ActionItem *ngIf="uiEditMode==0"
            (tap)="onCancelPressed()" 
            ios.systemIcon="1" 
            ios.position="left" 
            android.systemIcon="ic_menu_cancel" 
            android.position="actionBar">
        </ActionItem>
        <!-- right: Save -->
        <ActionItem  *ngIf="uiEditMode==0||uiEditMode==2"
            (tap)="onSavePressed()" 
            ios.systemIcon="3" 
            ios.position="right" 
            android.systemIcon="ic_menu_save" 
            android.position="actionBar">
        </ActionItem>

</ActionBar>

<GridLayout class="page page-content">
    <ListView   #transactionDetailListView,
                [items]="uiListCells" 
                [itemTemplateSelector]="listCellTemplateSelector" 
                (itemLoading)="onItemLoading($event)"
                (itemTap)="onItemTap($event)" 
                class="list-group">
        <ng-template nsTemplateKey="displayTemplate" let-listCell="item">
            <FlexboxLayout flexDirection="row" class="list-group-item">
                <app-display-cell 
                    [description]="listCell.description" 
                    [value]="listCell.value"
                    [cellType]="listCell.cellType">
                </app-display-cell>
            </FlexboxLayout>
        </ng-template>
        <ng-template nsTemplateKey="editableTemplate" let-listCell="item">
            <FlexboxLayout flexDirection="row" class="list-group-item">
                <app-editable-cell 
                    [cellInfo]="listCell">
                </app-editable-cell>
            </FlexboxLayout>
        </ng-template>
        <ng-template nsTemplateKey="datePickerTemplate" let-listCell="item">
            <FlexboxLayout flexDirection="row" class="list-group-item">
                <app-date-picker-cell 
                    [date]="listCell.date">
                </app-date-picker-cell>
            </FlexboxLayout>
        </ng-template>
    </ListView>
</GridLayout>
