<!-- 
    [columns] makes this app a two-column layout on tablets, 
    and a one-column layout on phones 
-->
<GridLayout [columns]="isTablet ? '*, 2*' : '*'">

    <GridLayout col="0" class="left-column">
        <ActionBar>
            <!-- Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar -->
            <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
            <!-- Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application. -->
            <ActionItem (tap)="onDrawerButtonTap()" icon="res://navigation/menu" android:visibility="collapsed" ios.position="left"></ActionItem>
            <ActionItem (tap)="onAddPressed()" ios.systemIcon="4" ios.position="right" android.systemIcon="ic_menu_add" android.position="actionBar"></ActionItem>

            <Label class="action-bar-title" [text]="uiTitle"></Label>
        </ActionBar>
        <!-- 
            The ListView shows on both tablets and phones. 
            On tablets the list occupies the left-hand side of the screen
            On phones the ListView takes up the whole screen. 
        -->
        <!-- (itemTap)="onItemTap($event)" -->
        <ListView #transListView
                  [items]="uiListCells" 
                  [itemTemplateSelector]="listCellTemplateSelector" 
                  (itemLoading)="onItemLoading($event)"
                  (loaded)="onListViewLoaded($event)"
                  class="list-group">
            <ng-template nsTemplateKey="header" let-trans="item">
                <app-transaction-header-cell 
                    [headerCell]="trans">
                </app-transaction-header-cell>
            </ng-template>

            <ng-template nsTemplateKey="summary" let-trans="item">
                <app-transaction-summary-cell
                    [summaryCell]="trans">
                </app-transaction-summary-cell>
            </ng-template>
        </ListView>
    </GridLayout>

    <!--
        Shows on tablet only.
        The markup below is duplicated in transaction-detail.component.html. 
        TODO: put this in a common component.
     -->
    <GridLayout col="1" *ngIf="isTablet">
        <app-transaction-detail></app-transaction-detail>
    </GridLayout>

</GridLayout>