<ActionBar title="Subcategories" *ngIf="!isTablet">
    <ActionItem (tap)="onAddPressed()" ios.systemIcon="4" ios.position="right" android.systemIcon="ic_menu_add" android.position="actionBar"></ActionItem>
</ActionBar>

<GridLayout class="page page-content">
    <ListView [items]="uiListCells" (itemTap)="onItemTap($event)" class="list-group">
        <ng-template let-item="item" let-i="index">
            <FlexboxLayout  flexDirection="row" 
                            class="list-group-item"
                            [ngClass]="{'list-view-cell-hilight': i===selectedIdx }">
                <Label  textWrap="false" 
                        class="text-left" 
                        [ngClass]="{'list-view-label-hilight': i===selectedIdx }"
                        [text]="item.subCategoryName">
                </Label>
            </FlexboxLayout>
        </ng-template>
    </ListView>
</GridLayout>