<ActionBar>
    <!-- Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar -->
    <NavigationButton *ngIf="displayMode!=1" ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    
    <!-- Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application. -->
    <ActionItem *ngIf="displayMode!=1" (tap)="onDrawerButtonTap()" icon="res://navigation/menu" android:visibility="collapsed" ios.position="left"></ActionItem>
    
    <Label class="action-bar-title" text="Accounts"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <ListView   [items]="uiListCells" 
                (itemTap)="onItemTap($event)" 
                class="list-group">
        <ng-template let-item="item" let-i="index">
            <FlexboxLayout  flexDirection="row"
                            class="list-group-item"
                            [ngClass]="{'list-view-cell-hilight': i===selectedIdx }">
                <Label  textWrap="false" 
                        class="text-left" 
                        [ngClass]="{'list-view-label-hilight': i===selectedIdx }"
                        [text]="item.accountName">
                </Label>
            </FlexboxLayout>
        </ng-template>
    </ListView>
</GridLayout>
