<GridLayout rows="*">

    <StackLayout *ngIf="isAndroid" row="0" style="background-color: red" (tap)="onTapDelete()">
        <Label  text="Delete" 
                style="color:white; font-size:18;" 
                class="text-right m-t-20 m-r-20">
        </Label>
    </StackLayout>

    <Stacklayout #topLayer row="0">
        <FlexboxLayout
            flexDirection="row" 
            class="list-group-item list-view-cell" 
            (swipe)="onSwipe($event)" 
            (tap)="onTap(summaryCell)">

            <Label  textWrap="false" 
                    [text]="summaryCell.tranDate | sgAppDateDayOrdinal" 
                    class="text-left" 
                    flexGrow="1">
            </Label>

            <StackLayout class="m-l-5 m-r-5 m-t-0 m-b-0">
                <Label  textWrap="false" 
                        [text]="summaryCell.majorCategoryName" 
                        class="text-left major-category" 
                        flexGrow="1">
                </Label>

                <Label  textWrap="false" 
                        [text]="summaryCell.subCategoryName" 
                        class="text-left sub-category" 
                        flexGrow="1">
                </Label>
            </StackLayout>

            <Label  textWrap="false" 
                    [ngClass]="{'debit': isExpense }" 
                    class="text-right m-l-5 m-r-20" 
                    [text]="summaryCell.amount | currency" 
                    flexGrow="2">
            </Label>
        </FlexboxLayout>
    </Stacklayout>
</GridLayout>
